<div id="skills">
    <div id="skill1">
        <h3>Core Competencies</h3>
        <ul>
            <li>Strategy Development</li>
            <li>Communications</li>
            <li>Team Management</li>
            <li>Critical Thinking</li>
        </ul>
    </div>
    <div>
        <h3>Additional Skills</h3>
        <ul>
            <li>Good English skills</li>
            <li>Proficient in Microsoft Office, Google drive/Docs and Adobe Illustrator</li>
            <li>Moderate user of MacOS Pages, Numbers and Keynotes</li>
        </ul>
    </div>
</div>